#####
#
#   File: /etc/nginx/sites-available/php74.ti.conf
#   Author: immersedone
#   Version: 1.0
#   Description:
#
#   This is a basic example of a proxy-passed virtual host
#   that is used for php8.3-fpm configurations; this should
#   be considered a support protocol as version 8.3 of PHP
#   has been released.
#
#   This file also contains SSL Configurations.
#
#   Designated Inbound Varnish Port: 8090
#
##


#### --- HTTP: Port 80 Block --- ####
server {

    # Port Listeners
    listen 80;
    listen [::]:80;

    # Server Names/Aliases;
    server_name php74.ti;

    # (Optional): Force Redirect to HTTPS
    return 301 https://php74.ti$request_uri;

    # Location/Route
    location / {

        # DDOS Parameters
        limit_req zone=borderforce burst=300 nodelay;

        # Proxy Versions
        proxy_http_version 1.1;
        proxy_buffering off;
        chunked_transfer_encoding off;

        # Proxy Settings/Configurations
        proxy_connect_timeout 300;
        proxy_buffers 4 32k;
        proxy_send_timeout 100;
        proxy_read_timeout 100;

        # Proxy Upload Filesizes
        client_max_body_size 512M;
        client_body_buffer_size 128M;

        # Security Headers
        add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload";
        add_header X-Frame-Options DENY;
        add_header X-XSS-Protection "1; mode=block";
        add_header X-Content-Type-Options nosniff;

        # Proxy Headers
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;


        # Proxy IP / Target
        proxy_pass http://127.0.0.1:8090;

    }

}
#### --- END HTTP: Port 80 Block --- ####




#### --- HTTPS: Port 443 Block --- ####
server {

    # Port Listeners
    listen 443 ssl http2;
    listen [::]:443 ssl http2;

    # Server Names/Aliases;
    server_name php83.ti;

    # SSL Key Details
    ssl_certificate /etc/letsencrypt/live/php83.ti/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/php83.ti/privkey.pem;
    ssl_session_timeout 5m;

    # SSL Protocols/Cipher Details
    ssl_protocols  TLSv1.1 TLSv1.2; # Drop SSLv3 due to POODLE vulnerability
    ssl_ciphers 'ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!aNULL:!eNULL:!LOW:!3DES:!MD5:!EXP:!PSK:!SRP:!DSS';
    ssl_prefer_server_ciphers   on;


    # Location/Route
    location / {

        # DDOS Parameters
        limit_req zone=borderforce burst=300 nodelay;

        # Proxy Versions
        proxy_http_version 1.1;
        proxy_buffering off;
        chunked_transfer_encoding off;

        # Proxy Settings/Configurations
        proxy_connect_timeout 300;
        proxy_buffers 4 32k;
        proxy_send_timeout 100;
        proxy_read_timeout 100;

        # Proxy Upload Filesizes
        client_max_body_size 512M;
        client_body_buffer_size 128M;

        # Security Headers
        add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload";
        add_header X-Frame-Options DENY;
        add_header X-XSS-Protection "1; mode=block";
        add_header X-Content-Type-Options nosniff;

        # Proxy Headers
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;


        # Proxy IP / Target
        proxy_pass http://127.0.0.1:8090;

    }

}
#### --- END HTTPS: Port 443 Block --- ####